*.swp
*.swo
*/test/.bigmler
*/test/.bigmler_delete
*/test/.bigmler_delete_dir_stack
*/test/.bigmler_dir_stack
*/test/.bigmler_dirs
*/test/.bigmler_execute
*/test/.bigmler_execute_dir_stack
*/test/.bigmler_whizzml
*/test/.bigmler_whizzml_dir_stack
*/test/test_inputs.json
/.bigmler_*
